allow fingerprintd tee_device:chr_file { read write ioctl open };

allow fingerprintd fpc_data_file:dir create_dir_perms;
allow fingerprintd fpc_data_file:sock_file { create unlink };

allow fingerprintd fpc_sysfs:file rw_file_perms;

allow fingerprintd storage_file:dir search;
allow fingerprintd storage_file:lnk_file read;
allow fingerprintd mnt_user_file:dir search;
allow fingerprintd mnt_user_file:lnk_file read;
allow fingerprintd fuse:dir search;
